.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10px;
}

.nameInput,.passwordInputs {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login,.SignUp {
    padding: 10px 20px;
    background-color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.SignUp {
    margin-left: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

